{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Dashboard</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
                {% include 'includes/doctor_sidebar.html' %}
            <div class="col-md-7 col-lg-8 col-xl-9">                
                <div class="row">
                    {% include 'includes/alerts.html' %}
                    <div class="col-md-12">
                        <h3 class="mb-4">Patient Appoinments</h3>
                        <div class="appointment-tab">
                        
                            <!-- Appointment Tab -->
                            <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#pending-appointments" data-toggle="tab">Pending</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#confirmed-appointments" data-toggle="tab">Confirmed</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#cancelled-appointments" data-toggle="tab">Cancelled</a>
                                </li> 
                            </ul>
                            <!-- /Appointment Tab -->
                            
                            <div class="tab-content">
                            
                                <!-- Pending Appointment Tab -->
                                <div class="tab-pane show active" id="pending-appointments">
                                    <div class="card card-table mb-0">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-center mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th>Patient Name</th>
                                                            <th>Appt Date</th>
                                                            <th>Purpose</th>
                                                            <th>Type</th>
                                                            <th class="text-center">Paid Amount</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for appointment in appointments%}
                                                        {% if appointment.status == 'pending' %}
                                                        <tr>
                                                            <td>
                                                                <h2 class="table-avatar">
                                                                    <a href="{{appointment.patient.get_url}}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{appointment.patient.user.profile_picture.url}}" alt="User Image"></a>
                                                                    <a href="{{appointment.patient.get_url}}">{{appointment.patient.user.get_full_name}}<span>#PT0016</span></a>
                                                                </h2>
                                                            </td>
                                                            <td>{{appointment.date}}<span class="d-block text-info">{{appointment.time}}</span></td>
                                                            <td>General</td>
                                                            <td>New Patient</td>
                                                            <td class="text-center">$150</td>
                                                            <td class="text-right">
                                                                <div class="table-action d-flex align-items-center justify-content-end">
                                                                    <a href="javascript:void(0);" class="btn btn-sm bg-info-light mr-1">
                                                                        <i class="far fa-eye"></i> View
                                                                    </a>
                                                                    <form action="{% url 'accept' appointment.id %}" method="POST">
                                                                        {% csrf_token %}
                                                                        <button type="submit" class="btn btn-sm bg-success-light mr-1">
                                                                        <i class="fas fa-check"></i> Accept
                                                                        </button>
                                                                    </form>
                                                                    <form action="{% url 'cancel' appointment.id %}" method="POST">
                                                                        {% csrf_token %}
                                                                        <button type="submit" class="btn btn-sm bg-danger-light mr-1">
                                                                        <i class="fas fa-times"></i> Cancel
                                                                        </button>
                                                                    </form>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </tbody>
                                                </table>		
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Pending Appointment Tab -->
                           
                                <!-- Confirmed Appointment Tab -->
                                <div class="tab-pane" id="confirmed-appointments">
                                    <div class="card card-table mb-0">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-center mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th>Patient Name</th>
                                                            <th>Appt Date</th>
                                                            <th>Purpose</th>
                                                            <th>Type</th>
                                                            <th class="text-center">Paid Amount</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for appointment in appointments%}
                                                        {% if appointment.status == 'confirmed' %}
                                                        <tr>
                                                            <td>
                                                                <h2 class="table-avatar">
                                                                    <a href="{{appointment.patient.get_url}}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{appointment.patient.user.profile_picture.url}}" alt="User Image"></a>
                                                                    <a href="{{appointment.patient.get_url}}">{{appointment.patient.user.get_full_name}}<span>#PT0016</span></a>
                                                                </h2>
                                                            </td>
                                                            <td>{{appointment.date}}<span class="d-block text-info">{{appointment.time}}</span></td>
                                                            <td>General</td>
                                                            <td>New Patient</td>
                                                            <td class="text-center">$150</td>
                                                            <td class="text-right">
                                                                <div class="table-action d-flex align-items-center justify-content-end">
                                                                    <a href="javascript:void(0);" class="btn btn-sm bg-info-light mr-1">
                                                                        <i class="far fa-eye"></i> View
                                                                    </a>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </tbody>
                                                </table>		
                                            </div>	
                                        </div>	
                                    </div>	
                                </div>
                                <!-- /Confirmed Appointment Tab -->

                                <!-- Cancelled Appointment Tab -->
                                <div class="tab-pane" id="cancelled-appointments">
                                    <div class="card card-table mb-0">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-center mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th>Patient Name</th>
                                                            <th>Appt Date</th>
                                                            <th>Purpose</th>
                                                            <th>Type</th>
                                                            <th class="text-center">Paid Amount</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for appointment in appointments%}
                                                        {% if appointment.status == 'cancelled' %}
                                                        <tr>
                                                            <td>
                                                                <h2 class="table-avatar">
                                                                    <a href="{{appointment.patient.get_url}}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{appointment.patient.user.profile_picture.url}}" alt="User Image"></a>
                                                                    <a href="{{appointment.patient.get_url}}">{{appointment.patient.user.get_full_name}}<span>#PT0016</span></a>
                                                                </h2>
                                                            </td>
                                                            <td>{{appointment.date}}<span class="d-block text-info">{{appointment.time}}</span></td>
                                                            <td>General</td>
                                                            <td>New Patient</td>
                                                            <td class="text-center">$150</td>
                                                            <td class="text-right">
                                                                <div class="table-action d-flex align-items-center justify-content-end">
                                                                    <a href="javascript:void(0);" class="btn btn-sm bg-danger-light mr-1">
                                                                        <i class="far fa-edit"></i> Add Reason
                                                                    </a>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </tbody>
                                                </table>		
                                            </div>	
                                        </div>	
                                    </div>	
                                </div>
                                <!-- /Cancelled Appointment Tab -->
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>		
<!-- /Page Content -->
{% include 'includes/footer.html' %}
{% endblock %}