{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Invoices</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Invoices</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            {% include 'includes/doctor_sidebar.html' %} 
            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="card card-table">
                    <div class="card-body">
                    
                        <!-- Invoice Table -->
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Invoice No</th>
                                        <th>Patient</th>
                                        <th>Amount</th>
                                        <th>Paid On</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'view_invoice' order.id %}" target="_blank">#INV-{{order.id}}</a>
                                        </td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="{{order.patient_profile.get_url}}" class="avatar avatar-sm mr-2">
                                                    <img class="avatar-img rounded-circle" src="{{order.patient_profile.user.profile_picture.url}}" alt="User Image">
                                                </a>
                                                <a href="{{order.patient_profile.get_url}}">{{order.patient_profile.user.get_full_name}} <span>#PT{{order.patient_profile.user.id}}</span></a>
                                            </h2>
                                        </td>
                                        <td>₹{{order.total_amount}}</td>
                                        <td>{{order.issue_date}}</td>
                                        <td class="text-right">
                                            <div class="table-action">
                                                <a href="{% url 'view_invoice' order.id %}" target="_blank" class="btn btn-sm bg-info-light">
                                                    <i class="far fa-eye"></i> View
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /Invoice Table -->
                        
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>		
<!-- /Page Content -->
{% include 'includes/footer.html' %}
{% endblock %}