<div class="card card-table mb-0">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-center mb-0">
                <thead>
                    <tr>
                        <th>Doctor</th>
                        <th>Appt Date</th>
                        <th>Booking Date</th>
                        <th>Amount</th>
                        <th>Follow Up</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in appointments%}
                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a href="{{appointment.doctor.get_url}}" class="avatar avatar-sm mr-2">
                                    <img class="avatar-img rounded-circle" src="{{appointment.doctor.user.profile_picture.url}}" alt="User">
                                </a>
                                <a href="{{appointment.doctor.get_url}}">Dr. {{appointment.doctor.user.get_full_name}}
                                    <span>{{appointment.doctor.specialization}}</span>
                                </a>
                            </h2>
                        </td>
                        <td>{{appointment.date}}<span class="d-block text-info">{{appointment.time}}</span></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            {% if appointment.status == 'confirmed' %}
                                <span class="badge badge-pill bg-success-light">{{ appointment.status }}</span>
                            {% elif appointment.status == 'pending' %}
                                <span class="badge badge-pill bg-warning-light">{{ appointment.status }}</span>
                            {% elif appointment.status == 'cancelled' %}
                                <span class="badge badge-pill bg-danger-light">{{ appointment.status }}</span>
                            {% endif %}
                        </td>
                        <td class="text-right">
                            <div class="table-action">
                                <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                    <i class="fas fa-print"></i> Print
                                </a>
                                <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                    <i class="far fa-eye"></i> View
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>