{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Patients</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">My Patients</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            {% include 'includes/doctor_sidebar.html' %} 
            <div class="col-md-7 col-lg-8 col-xl-9">
						
                <div class="row row-grid">
                    {% for patient in patients %}
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="card widget-profile pat-widget-profile">
                            <div class="card-body">
                                <div class="pro-widget-content">
                                    <div class="profile-info-widget">
                                        <a href="{{patient.get_url}}" class="booking-doc-img">
                                            <img src="{{patient.user.profile_picture.url}}" alt="User Image">
                                        </a>
                                        <div class="profile-det-info">
                                            <h3><a href="{{patient.get_url}}">{{patient.user.get_full_name}}</a></h3>
                                            
                                            <div class="patient-details">
                                                <h5><b>Patient ID :</b> #PT{{patient.id}}</h5>
                                                <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{patient.user.city}}, {{patient.user.state}}<br>{{patient.user.country}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="patient-info">
                                    <ul>
                                        <li>Phone <span>{{patient.user.phone_number}}</span></li>
                                        <li>Age <span>{{patient.user.age}} Years, {{patient.user.gender}}</span></li>
                                        <li>Blood Group <span>{{patient.blood_group}}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>    
                    {% endfor %}
                </div>

            </div>
        </div>

    </div>

</div>		
<!-- /Page Content -->
{% include 'includes/footer.html' %}
{% endblock %}