{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Profile Settings</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Profile Settings</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
        
            {% include 'includes/patient_sidebar.html' %}
            
            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="card">
                    {% include 'includes/alerts.html' %}
                    <div class="card-body">
                        
                        <!-- Profile Settings Form -->
                        <form action="{% url 'patient_profile' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row form-row">
                                <div class="col-12 col-md-12">
                                    <div class="form-group">
                                        <div class="change-avatar">
                                            <div class="profile-img">
                                                <img src="{{user.profile_picture.url}}" alt="User Image">
                                            </div>
                                            <div class="upload-img">
                                                <div>
                                                    {{user_form.profile_picture}}
                                                </div>
                                                <small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of 2MB</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        {{user_form.first_name}}
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        {{user_form.last_name}}
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Date of Birth</label>
                                        <div>
                                            {{user_form.dob}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Blood Group</label>
                                        {{profile_form.blood_group}}
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Mobile</label>
                                        {{user_form.phone_number}}
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Gender</label>
                                        {{user_form.gender}}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                    <label>Address</label>
                                    {{user_form.address_line_1}}
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label>Country</label>
                                        {{user_form.country}}
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label>State</label>
                                        {{user_form.state}}
                                    </div>
                                </div>
                                <!--
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label>Zip Code</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                -->
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label>City</label>
                                        {{user_form.city}}
                                    </div>
                                </div>
                            </div>
                            {{ user_form.errors }}
                            {{ profile_form.errors }}
                            <div class="submit-section">
                                <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
                            </div>
                        </form>
                        <!-- /Profile Settings Form -->
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>		
<!-- /Page Content -->
{% include 'includes/footer.html' %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#id_country').change(function () {  // Change to match the actual ID of your country select input
            var countryId = $(this).val();
            $.ajax({
                url: '{% url "get_states" %}',
                data: { 'country_id': countryId },
                dataType: 'json',
                success: function (data) {
                    var stateSelect = $('#id_state');  // Change to match the actual ID of your state select input
                    stateSelect.empty();
                    $.each(data.states, function (key, value) {
                        stateSelect.append($('<option></option>').attr('value', value.id).text(value.name));
                    });
                    // Trigger state change to populate cities if needed
                    stateSelect.trigger('change');
                }
            });
        });
        $('#id_state').change(function () {  // Change to match the actual ID of your state select input
            var stateId = $(this).val();
            $.ajax({
                url: '{% url "get_cities" %}',
                data: { 'state_id': stateId },
                dataType: 'json',
                success: function (data) {
                    var citySelect = $('#id_city');  // Change to match the actual ID of your city select input
                    citySelect.empty();
                    $.each(data.cities, function (key, value) {
                        citySelect.append($('<option></option>').attr('value', value.id).text(value.name));
                    });
                }
            });
        });
    });
</script>
{% endblock %}