{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Dashboard</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container-fluid">

        <div class="row">
            
            {% include 'includes/patient_sidebar.html' %}
            
            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="card">
                    {% include 'includes/alerts.html' %}
                    <div class="card-body pt-0">
                    
                        <!-- Tab Menu -->
                        <nav class="user-tabs mb-4">
                            <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#pat_medical_records" data-toggle="tab"><span class="med-records">Medical Records</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#pat_prescriptions" data-toggle="tab">Prescriptions</a>
                                </li>    
                            </ul>
                        </nav>
                        <!-- /Tab Menu -->
                        
                        <!-- Tab Content -->
                        <div class="tab-content pt-0">
                            <!-- Medical Records Tab -->
                            <div id="pat_medical_records" class="tab-pane fade show active">
                                <div class="text-right">		
                                    <a href="#" class="add-new-btn" data-toggle="modal" data-target="#add_medical_records">Add Medical Records</a>
                                </div>
                                {% include 'medical/my_records.html' %}
                            </div>
                            <!-- /Medical Records Tab -->                            
                            <!-- Prescription Tab -->
                            <div class="tab-pane fade" id="pat_prescriptions">
                                <div class="card card-table mb-0">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-center mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>Date </th>
                                                        <th>Name</th>									
                                                        <th>Created by </th>
                                                        <th></th>
                                                    </tr>     
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            <h2 class="table-avatar">
                                                                <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                                                                    <img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-01.jpg" alt="User Image">
                                                                </a>
                                                                <a href="doctor-profile.html"><span></span></a>
                                                            </h2>
                                                        </td>
                                                        <td class="text-right">
                                                            <div class="table-action">
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                    <i class="fas fa-print"></i> Print
                                                                </a>
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                    <i class="far fa-eye"></i> View
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    
                                                </tbody>	
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Prescription Tab -->
                        </div>
                        <!-- Tab Content -->                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>		
<!-- /Page Content -->
{% include 'includes/footer.html' %}

<!-- Add Medical Records Modal -->
<div class="modal fade custom-modal" id="add_medical_records">
    {% include 'medical/add_medical_record.html' %}
</div>
<!-- /Add Medical Records Modal -->
<div class="modal fade custom-modal" id="view_file">
    {% include 'medical/view_file.html' %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const viewFileModal = document.getElementById('view_file');
        const viewFileEmbed = document.getElementById('view-file-embed');
        
        const viewFileLinks = document.querySelectorAll('.view-file-link');
        viewFileLinks.forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                const medicalId = this.getAttribute('data-id');
                const embedSrc = "{% url 'view_file' 0 %}".replace("0", medicalId);
                viewFileEmbed.setAttribute('src', embedSrc);
                // Show the modal
                $(viewFileModal).modal('show');
            });
        });
    });
</script>
{% endblock %}