{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Appointments</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Appointments</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">      
            {% include 'includes/doctor_sidebar.html' %}     
            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="appointments">
                {% for appointment in appointments %}
                    <!-- Appointment List -->
                    <div class="appointment-list">
                        <div class="profile-info-widget">
                            <a href="{{appointment.patient.get_url}}" class="booking-doc-img">
                                <img src="{{appointment.patient.user.profile_picture.url}}" alt="User Image">
                            </a>
                            <div class="profile-det-info">
                                <h3><a href="{{appointment.patient.get_url}}">{{appointment.patient.user.get_full_name}}</a></h3>
                                <div class="patient-details">
                                    <h5><i class="far fa-clock"></i>{{appointment.date}}, {{appointment.time}}</h5>
                                    <h5><i class="fas fa-map-marker-alt"></i>{{appointment.patient.user.get_full_address}}</h5>
                                    <h5><i class="fas fa-envelope"></i>{{appointment.patient.user.email}}</h5>
                                    <h5 class="mb-0"><i class="fas fa-phone"></i>{{appointment.patient.user.phone_number}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="appointment-action">
                            <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                                <i class="far fa-eye"></i> View
                            </a>
                            <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                <i class="fas fa-check"></i> Accept
                            </a>
                            <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                <i class="fas fa-times"></i> Cancel
                            </a>
                        </div>
                    </div>
                    <!-- /Appointment List -->
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>		
<!-- /Page Content -->

{% include 'includes/footer.html' %}
{% endblock %}