<div class="card card-table mb-0">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-center mb-0">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date Created</th>
                        <th>Description</th>
                        <th>Created By</th>
                        <th></th>
                    </tr>     
                </thead>
                <tbody>
                    {% for medical in medicals %}
                    <tr>
                        <td>{{medical.title|slice:":15"}}<a href="javascript:void(0);"></a></td>
                        <td>{{medical.date_created}}</td>
                        <td>{{medical.description|slice:":15"}}</td>
                        <td>
                            {% if medical.created_by.user.is_staff %}
                            <h2 class="table-avatar">
                                <a href="{{medical.created_by.get_url}}" class="avatar avatar-sm mr-2">
                                    <img class="avatar-img rounded-circle" src="{{medical.created_by.user.profile_picture.url}}" alt="User Image">
                                </a>
                                <a href="{{medical.created_by.get_url}}">Dr. {{medical.created_by.user.get_full_name}}<span>{{medical.created_by.specialization}}</span></a>
                            </h2>
                            {% else %}  
                            <h2 class="table-avatar">
                                <a class="avatar avatar-sm mr-2">
                                    <img class="avatar-img rounded-circle" src="{{medical.patient.user.profile_picture.url}}" alt="User Image">
                                </a>    
                                {{medical.patient.user.get_full_name}}
                            </h2>
                            {% endif %}
                        </td>
                        <td class="text-right">
                            <div class="table-action d-flex align-items-center justify-content-end">
                                <a href="#" class="btn btn-sm bg-info-light view-file-link mr-1" data-id="{{ medical.id }}" data-toggle="modal" data-target="#view_file">
                                    <i class="far fa-eye"></i> View
                                </a>
                                <a href="{{medical.file_path.url}}" class="btn btn-sm bg-primary-light mr-1">
                                    <i class="fas fa-print"></i> Print
                                </a>
                                {% if medical.created_by is None %}
                                <form action="{% url 'delete_record' medical.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm bg-danger-light delete-data mr-1">
                                        <i class="far fa-trash-alt"></i> Delete
                                    </button>
                                </form>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>  	
            </table>
        </div>
    </div>
</div>