{% load static %}
<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>HealthMate - Admin</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'assets_admin/css/bootstrap.min.css' %}">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'assets_admin/css/font-awesome.min.css' %}">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="{% static 'assets_admin/css/feathericon.min.css' %}">
		
		<link rel="stylesheet" href="{% static 'assets_admin/plugins/morris/morris.css' %}">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'assets_admin/css/style.css' %}">
		
    </head>

    <body>	
		<!-- Main Wrapper -->
        <div class="main-wrapper">

            <!-- Header -->
            <div class="header">

                <!-- Logo -->
                <div class="header-left">
                    <a href="{% url 'index' %}" class="logo">
                        <img src="{% static 'assets/img/logo.png' %}" alt="Logo" style="width:170px;">
                    </a>
                    <a href="{% url 'index' %}" class="logo logo-small">
                        <img src="{% static 'assets/img/favicon.png' %}" alt="Logo" width="30" height="30">
                    </a>
                </div>
                <!-- /Logo -->
                
                <a href="javascript:void(0);" id="toggle_btn">
                    <i class="fe fe-text-align-left"></i>
                </a>
                
                
                <!-- Mobile Menu Toggle -->
                <a class="mobile_btn" id="mobile_btn">
                    <i class="fa fa-bars"></i>
                </a>
                <!-- /Mobile Menu Toggle -->
                
                <!-- Header Right Menu -->
                <ul class="nav user-menu">
                    
                    <!-- User Menu -->
                    <li class="nav-item dropdown has-arrow">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <span class="user-img"><img class="rounded-circle" src="{{user.profile_picture.url}}" width="31" alt="{{user.get_full_name}}"></span>
                        </a>
                        <div class="dropdown-menu">
                            <div class="user-header">
                                <div class="avatar avatar-sm">
                                    <img src="{{user.profile_picture.url}}" alt="User Image" class="avatar-img rounded-circle">
                                </div>
                                <div class="user-text">
                                    <h6>{{user.get_full_name}}</h6>
                                    <p class="text-muted mb-0">Administrator</p>
                                </div>
                            </div>
                            <a class="dropdown-item" href="{% url 'adminapp_profile' %}">My Profile</a>
                            <a class="dropdown-item" href="{% url 'adminapp_logout' %}">Logout</a>
                        </div>
                    </li>
                    <!-- /User Menu -->
                    
                </ul>
                <!-- /Header Right Menu -->
                
            </div>
            <!-- /Header -->
                        
            <!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
                    <div id="sidebar-menu" class="sidebar-menu">
                        <ul>
                            <li class="menu-title"> 
                                <span>Main</span>
                            </li>
                            <li class="{% if '/adminapp/' == request.path %}active{% endif %}"> 
                                <a href="{% url 'index' %}"><i class="fe fe-home"></i> <span>Dashboard</span></a>
                            </li>
                            <li class="{% if '/adminapp/lab_appointments/' == request.path or '/adminapp/edit_lab_appointments/' in request.path%}active{% endif %}"> 
                                <a href="{% url 'adminapp_lab_appointments' %}"><i class="fe fe-layout"></i> <span>Lab Appointments</span></a>
                            </li>
                            <li class="{% if '/adminapp/specialities/' == request.path %}active{% endif %}"> 
                                <a href="{% url 'adminapp_specialities'%}"><i class="fe fe-users"></i> <span>Specialities</span></a>
                            </li>
                            <li class="{% if '/adminapp/doctor_list/' == request.path %}active{% endif %}"> 
                                <a href="{% url 'adminapp_doctor_list'%}"><i class="fe fe-user-plus"></i> <span>Doctors</span></a>
                            </li>
                            <li class="{% if '/adminapp/patient_list/' == request.path %}active{% endif %}"> 
                                <a href="{% url 'adminapp_patient_list'%}"><i class="fe fe-user"></i> <span>Patients</span></a>
                            </li>
                            <li class="{% if '/adminapp/reviews/' == request.path %}active{% endif %}"> 
                                <a href="{% url 'adminapp_reviews' %}"><i class="fe fe-star-o"></i> <span>Reviews</span></a>
                            </li>
                            <li class="{% if '/adminapp/transactions/' == request.path %}active{% endif %}"> 
                                <a href="{% url 'adminapp_transactions' %}"><i class="fe fe-activity"></i> <span>Transactions</span></a>
                            </li>
                            <li> 
                                <a href="settings.html"><i class="fe fe-vector"></i> <span>Settings</span></a>
                            </li>
                            <li class="submenu">
                                <a href="#"><i class="fe fe-document"></i> <span> Reports</span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a href="invoice-report.html">Invoice Reports</a></li>
                                </ul>
                            </li>
                            <li class="menu-title"> 
                                <span>Pages</span>
                            </li>
                            <li class="{% if '/adminapp/profile/' == request.path %}active{% endif %}"> 
                                <a href="{% url 'adminapp_profile' %}"><i class="fe fe-user-plus"></i> <span>Profile</span></a>
                            </li>
                            <li class="submenu">
                                <a href="#"><i class="fe fe-document"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a href="login.html"> Login </a></li>
                                    <li><a href="register.html"> Register </a></li>
                                    <li><a href="forgot-password.html"> Forgot Password </a></li>
                                    <li><a href="lock-screen.html"> Lock Screen </a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="#"><i class="fe fe-warning"></i> <span> Error Pages </span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a href="error-404.html">404 Error </a></li>
                                    <li><a href="error-500.html">500 Error </a></li>
                                </ul>
                            </li>
                            <li> 
                                <a href="blank-page.html"><i class="fe fe-file"></i> <span>Blank Page</span></a>
                            </li>
                            <li class="menu-title"> 
                                <span>UI Interface</span>
                            </li>
                            <li> 
                                <a href="components.html"><i class="fe fe-vector"></i> <span>Components</span></a>
                            </li>
                            <li class="submenu">
                                <a href="#"><i class="fe fe-layout"></i> <span> Forms </span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a href="form-basic-inputs.html">Basic Inputs </a></li>
                                    <li><a href="form-input-groups.html">Input Groups </a></li>
                                    <li><a href="form-horizontal.html">Horizontal Form </a></li>
                                    <li><a href="form-vertical.html"> Vertical Form </a></li>
                                    <li><a href="form-mask.html"> Form Mask </a></li>
                                    <li><a href="form-validation.html"> Form Validation </a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="#"><i class="fe fe-table"></i> <span> Tables </span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a href="tables-basic.html">Basic Tables </a></li>
                                    <li><a href="data-tables.html">Data Table </a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);"><i class="fe fe-code"></i> <span>Multi Level</span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li class="submenu">
                                        <a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>
                                        <ul style="display: none;">
                                            <li><a href="javascript:void(0);"><span>Level 2</span></a></li>
                                            <li class="submenu">
                                                <a href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>
                                                <ul style="display: none;">
                                                    <li><a href="javascript:void(0);">Level 3</a></li>
                                                    <li><a href="javascript:void(0);">Level 3</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="javascript:void(0);"> <span>Level 2</span></a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"> <span>Level 1</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Sidebar -->
            
            {% block pagecontent %}
            {% endblock %}

        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="{% static 'assets_admin/js/jquery-3.2.1.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="{% static 'assets_admin/js/popper.min.js' %}"></script>
        <script src="{% static 'assets_admin/js/bootstrap.min.js' %}"></script>
		
		<!-- Slimscroll JS -->
        <script src="{% static 'assets_admin/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
		
		<script src="{% static 'assets_admin/plugins/raphael/raphael.min.js' %}"></script>    
		<script src="{% static 'assets_admin/plugins/morris/morris.min.js' %}"></script>  
		<script src="{% static 'assets_admin/js/chart.morris.js' %}"></script>
		
		<!-- Custom JS -->
		<script  src="{% static 'assets_admin/js/script.js' %}"></script>
		
        <script>
            setTimeout(function(){
                $('#mess').fadeOut('slow')
            }, 4000)
        </script>

    </body>

</html>