{% extends 'adminapp/base.html' %}
{% load static %}
{% block pagecontent %}

<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Transactions</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Transactions</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        {% include 'includes/alerts.html' %}
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Invoice Number</th>
                                        <th>Patient ID</th>
                                        <th>Patient Name</th>
                                        <th>Total Amount</th>
                                        <th>Issue Date</th>
                                        <th>Mode</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td><a href="invoice.html">#IN{{order.id}}</td>
                                        <td>#PT{{order.patient_profile.id}}</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="#" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{order.patient_profile.user.profile_picture.url}}" alt="User Image"></a>
                                                <a href="#">{{order.patient_profile.user.get_full_name}}</a>
                                            </h2>
                                        </td>
                                        <td>₹{{order.total_amount}}</td>
                                        <td>{{order.issue_date}}</td>
                                        <td>
                                            {{order.payment_method}}
                                        </td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <a class="btn btn-sm bg-danger-light delete-order-btn" data-toggle="modal" href="#delete_modal" data-order-id="{{order.id}}">
                                                    <i class="fe fe-trash"></i> Delete
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>			
        </div>
        
    </div>			
</div>
<!-- /Page Wrapper -->

<!-- Delete Modal -->
<div class="modal fade" id="delete_modal" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document" >
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-content p-2">
                    <h4 class="modal-title">Delete</h4>
                    <form id="deleteForm" action="{% url 'delete_order' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="order_id" id="orderIdInput">
                        <p class="mb-4">Are you sure want to delete?</p>
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Modal -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.delete-order-btn').click(function () {
            var orderId = $(this).data('order-id');
            $('#orderIdInput').val(orderId);
        });
    });
</script>

{% endblock %}