{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-8 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Search</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">{{doctors_count}} matches found</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">
            
                <!-- Search Filter -->
                <div class="card search-filter">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Search Filter</h4>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'filter_results' %}" method="GET">
                        {% csrf_token %}
                        <div class="filter-widget">
                            <h4>Gender</h4>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="gender_type" value="M">
                                    <span class="checkmark"></span> Male Doctor
                                </label>
                            </div>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="gender_type" value="F">
                                    <span class="checkmark"></span> Female Doctor
                                </label>
                            </div>
                        </div>
                        <div class="filter-widget">
                            <h4>Select Specialist</h4>
                            {% for spz in specialization_list %}
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="select_specialist" value="{{spz.id}}">
                                    <span class="checkmark"></span> {{spz.name}}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="btn-search">
                            <button type="submit" class="btn btn-block">Search</button>
                        </div>
                        </form>	
                    </div>
                </div>
                <!-- /Search Filter -->
                
            </div>
            
            <div class="col-md-12 col-lg-8 col-xl-9">

                {% for doctor in doctors%}
                <!-- Doctor Widget -->
                <div class="card">
                    <div class="card-body">
                        <div class="doctor-widget">
                            <div class="doc-info-left">
                                <div class="doctor-img">
                                    <a href="{{doctor.get_url}}">
                                        <img src="{{doctor.user.profile_picture.url}}" class="img-fluid" alt="User Image">
                                    </a>
                                </div>
                                <div class="doc-info-cont">
                                    <h4 class="doc-name"><a href="{{doctor.get_url}}">Dr. {{doctor.user.get_full_name}}</a></h4>
                                    <p class="doc-speciality">{{doctor.specialization}}</p>
                                    <h5 class="doc-department"><img src="{{doctor.specialization.image.url}}" class="img-fluid" alt="Speciality">{{doctor.specialization}}</h5>
                                    <div class="rating">
                                        <i class="fas fa-star {% if doctor.averageReview >= 1.0 %} filled {% endif %}"></i>
                                        <i class="fas fa-star {% if doctor.averageReview >= 2.0 %} filled {% endif %}"></i>
                                        <i class="fas fa-star {% if doctor.averageReview >= 3.0 %} filled {% endif %}"></i>
                                        <i class="fas fa-star {% if doctor.averageReview >= 4.0 %} filled {% endif %}"></i>
                                        <i class="fas fa-star {% if doctor.averageReview >= 5.0 %} filled {% endif %}"></i>
                                        <span class="d-inline-block average-rating">({{doctor.countReview}})</span>
                                    </div>
                                    <div class="clinic-details">
                                        <p class="doc-location"><i class="fas fa-map-marker-alt"></i>{{doctor.clinic_address}}</p>
                                    </div>
                                    <div class="clinic-services">
                                        <span>Experience: {{doctor.experience}} years</span>
                                    </div>
                                </div>
                            </div>
                            <div class="doc-info-right">
                                <div class="clini-infos">
                                    <ul>
                                        <li><i class="far fa-thumbs-up"></i> {{doctor.rating_percentage}}%</li>
                                        <li><i class="far fa-comment"></i> {{doctor.countReview}} Feedback</li>
                                        <li><i class="far fa-money-bill-alt"></i> ₹ {{doctor.price}} <i class="fas fa-info-circle" data-toggle="tooltip" title="Booking charges"></i> </li>
                                    </ul>
                                </div>
                                <div class="clinic-booking">
                                    <a class="view-pro-btn" href="{{doctor.get_url}}">View Profile</a>
                                    <a class="apt-btn" href="{{doctor.get_appointment_url}}">Book Appointment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Doctor Widget -->
                {% endfor %}	
            </div>
        </div>

    </div>

</div>		
<!-- /Page Content -->

{% include 'includes/footer.html' %}

{% if last_gender_type %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% for gender in last_gender_type %}
                var type = "{{ gender }}";
                // Set the selected attribute for gender_type checkboxes based on last_gender_type
                document.querySelectorAll('input[name="gender_type"]').forEach(function (checkbox) {
                    if (checkbox.value === type) {
                        checkbox.checked = true;
                    }
                });
            {% endfor %}
        });
    </script>
{% endif %}

{% if last_specialist %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% for spz in last_specialist %}
                var last = "{{ spz }}";
                // Set the selected attribute for select_specialist checkboxes based on last_specialist
                document.querySelectorAll('input[name="select_specialist"]').forEach(function (checkbox) {
                    if (checkbox.value === last) {
                        checkbox.checked = true;
                    }
                });
            {% endfor %}
        });
    </script>
{% endif %}

{% endblock %}