<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
    <!-- Profile Sidebar -->
    <div class="profile-sidebar">
        <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
                <a href="#" class="booking-doc-img">
                    <img src="{{user.profile_picture.url}}" alt="User Image">
                </a>
                <div class="profile-det-info">
                    <h3>Dr. {{user.first_name}} {{user.last_name}}</h3>
                    
                    <div class="patient-details">
                        <h5 class="mb-0">{{doctorprofile.specialization}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-widget">
            <nav class="dashboard-menu">
                <ul>
                    <li class="{% if '/accounts/doctor_dashboard/' == request.path %}active{% endif %}">
                        <a href="{% url 'doctor_dashboard' %}">
                            <i class="fas fa-columns"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="{% if '/accounts/view_rooms/' == request.path %}active{% endif %}">
                        <a href="{% url 'view_rooms' %}">
                            <i class="fas fa-user-injured"></i>
                            <span>Online consultation</span>
                        </a>
                    </li>
                    <li class="{% if '/accounts/view_appointments/' == request.path %}active{% endif %}">
                        <a href="{% url 'view_appointments' %}">
                            <i class="fas fa-calendar-check"></i>
                            <span>Appointments</span>
                        </a>
                    </li>
                    <li>
                        <a href="my-patients.html">
                            <i class="fas fa-user-injured"></i>
                            <span>My Patients</span>
                        </a>
                    </li>
                    <li class="{% if '/accounts/schedule_time/' == request.path %}active{% endif %}">
                        <a href="{% url 'schedule_time' %}">
                            <i class="fas fa-hourglass-start"></i>
                            <span>Schedule Timings</span>
                        </a>
                    </li>
                    <li>
                        <a href="invoices.html">
                            <i class="fas fa-file-invoice"></i>
                            <span>Invoices</span>
                        </a>
                    </li>
                    <li class="{% if '/accounts/reviews/' == request.path %}active{% endif %}">
                        <a href="{% url 'reviews' %}">
                            <i class="fas fa-star"></i>
                            <span>Reviews</span>
                        </a>
                    </li>
                    <li>
                        <a href="chat-doctor.html">
                            <i class="fas fa-comments"></i>
                            <span>Message</span>
                            <small class="unread-msg">23</small>
                        </a>
                    </li>
                    <li class="{% if '/accounts/doctor_profile_settings/' == request.path %}active{% endif %}">
                        <a href="{% url 'doctor_profile_settings' %}">
                            <i class="fas fa-user-cog"></i>
                            <span>Profile Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="social-media.html">
                            <i class="fas fa-share-alt"></i>
                            <span>Social Media</span>
                        </a>
                    </li>
                    <li class="{% if '/accounts/change_doctor_password/' == request.path %}active{% endif %}">
                        <a href="{% url 'change_doctor_password' %}">
                            <i class="fas fa-lock"></i>
                            <span>Change Password</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /Profile Sidebar -->
</div>