<!-- Profile Sidebar -->
<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
    <div class="profile-sidebar">
        <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
                <a href="#" class="booking-doc-img">
                    <img src="{{user.profile_picture.url}}" alt="User Image">
                </a>
                <div class="profile-det-info">
                    <h3>{{user.first_name}} {{user.last_name}}</h3>
                    <div class="patient-details">
                        <h5><i class="fas fa-birthday-cake"></i> Birthday</h5>
                        <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Address</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-widget">
            <nav class="dashboard-menu">
                <ul>
                    <li class="{% if '/accounts/patient_dashboard/' == request.path %}active{% endif %}">
                        <a href="{% url 'patient_dashboard' %}">
                            <i class="fas fa-columns"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="{% if '/accounts/my_appointments/' == request.path %}active{% endif %}">
                        <a href="{% url 'my_appointments' %}">
                            <i class="fas fa-calendar-check"></i>
                            <span>Appointments</span>
                        </a>
                    </li>
                    <li class="{% if '/accounts/patient_profile/' == request.path %}active{% endif %}">
                        <a href="{% url 'patient_profile' %}">
                            <i class="fas fa-user-cog"></i>
                            <span>Profile Settings</span>
                        </a>
                    </li>
                    <li class="{% if '/accounts/change_password/' == request.path %}active{% endif %}">
                        <a href="{% url 'change_password' %}">
                            <i class="fas fa-lock"></i>
                            <span>Change Password</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- / Profile Sidebar -->