{% extends "base.html" %}
{% load static %}

{% block content %}
		
	<!-- Home Banner -->
	<section class="section section-search">
		<div class="container-fluid">
			<div class="banner-wrapper">
				<div class="banner-header text-center">
					<h1>Search Doctor, Make an Appointment</h1>
					<p>Discover the best doctors, clinic & hospital the city nearest to you.</p>
				</div>
					
				<!-- Search -->
				<div class="search-box">
					<form action="{% url 'search' %}">
						<div class="form-group search-location" method='GET'>
							<input type="text" class="form-control" placeholder="Search Location">
							<span class="form-text">Based on your Location</span>
						</div>
						<div class="form-group search-info">
							<input type="text" class="form-control" placeholder="Search Doctors, Location" name="keyword">
							<span class="form-text">Ex : Dentist or General Physician etc</span>
						</div>
						<button type="submit" class="btn btn-primary search-btn"><i class="fas fa-search"></i> <span>Search</span></button>
					</form>
				</div>
				<!-- /Search -->
				
			</div>
		</div>
	</section>
	<!-- /Home Banner -->
		
	<!-- Clinic and Specialities -->
	<section class="section section-specialities">
		<div class="container-fluid">
			<div class="section-header text-center">
				<h2>Clinic and Specialities</h2>
				<p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-9">
					<!-- Slider -->
					<div class="specialities-slider slider">
					
						{% for specialization in specializations %}
						<!-- Slider Item -->
						<div class="speicality-item text-center">
							<div class="speicality-img">
								<img src="{% static 'assets/img/specialities/specialities-01.png' %}" class="img-fluid" alt="Speciality">
								<span><i class="fa fa-circle" aria-hidden="true"></i></span>
							</div>
							<p>{{specialization.name}}</p>
						</div>	
						<!-- /Slider Item -->
						{% endfor %}
							
					</div>
					<!-- /Slider -->
					
				</div>
			</div>
		</div>   
	</section>	
	<!-- Clinic and Specialities -->
			
{% include 'includes/footer.html' %}
{% endblock %}