{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Booking</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Booking</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content success-page-cont">
    <div class="container-fluid">
    
        <div class="row justify-content-center">
            <div class="col-lg-6">
                {% if appointment %}
                <!-- Success Card -->
                <div class="card success-card">
                    <div class="card-body">
                        <div class="success-cont">
                            <i class="fas fa-check"></i>
                            <h3>Appointment booked Successfully!</h3>
                            <p>Appointment booked with <strong>Dr. {{appointment.doctor.user.get_full_name}}</strong><br> on <strong>{{appointment.date}} at {{appointment.time}}</strong></p>
                            <a href="{% url 'view_invoice' order.id %}" class="btn btn-primary view-inv-btn">View Invoice</a>
                        </div>
                    </div>
                </div>
                <!-- /Success Card -->
                {% elif lab_booking %}
                <!-- Success Card -->
                <div class="card success-card">
                    <div class="card-body">
                        <div class="success-cont">
                            <i class="fas fa-check"></i>
                            <h3>Home visit booked Successfully!</h3>
                            <p>Appointment booked for <strong>{{lab_booking.lab_test.name}}</strong><br> on <strong>{{lab_booking.appointment_date}} at {{lab_booking.appointment_time}}</strong></p>
                            <a href="{% url 'view_invoice' order.id %}" class="btn btn-primary view-inv-btn">View Invoice</a>
                        </div>
                    </div>
                </div>
                <!-- /Success Card -->
                {% else %}
                <!-- Success Card -->
                <div class="card success-card">
                    <div class="card-body">
                        <div class="success-cont">
                            <i class="fas fa-check"></i>
                            <h3>Consultation booked Successfully!</h3>
                            <br>
                            <a href="{% url 'meeting' %}" class="btn btn-primary view-inv-btn">Consult now</a>
                        </div>
                    </div>
                </div>
                <!-- /Success Card -->
                {% endif %}
            </div>
        </div>
        
    </div>
</div>		
<!-- /Page Content -->

{% include 'includes/footer.html' %}
{% endblock %}