{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Checkout</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-md-7 col-lg-8">
                <div class="card">
                    <div class="card-body">
                    
                        <!-- Checkout Form -->
                        <form method="POST" action="{% if single_doctor %}{% url 'booking_success' %} {% else %} {% url 'booking' specialization.slug %} {% endif %}">
                        {% csrf_token %}
                            <!-- Personal Information -->
                            <div class="info-widget">
                                <h4 class="card-title">Personal Information</h4>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>First Name</label>
                                            <input class="form-control" type="text" name="first_name" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Last Name</label>
                                            <input class="form-control" type="text" name="last_name" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Email</label>
                                            <input class="form-control" type="email" name="email" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Phone</label>
                                            <input class="form-control" type="text" name="phone" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Billing address</label>
                                            <input class="form-control" type="text" name="billing_address" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Personal Information -->
                            <!-- hidden input -->
                            <input type="text" name="tax" value={{tax}} hidden>
                            <input type="text" name="total_amount" value={{total}} hidden>
                            <div class="payment-widget">
                                <h4 class="card-title">Payment Method</h4>
                                
                                <!-- Credit Card Payment -->
                                <div class="payment-list">
                                    <label class="payment-radio credit-card-option">
                                        <input type="radio" name="payment_method" value="Credit Card" required>
                                        <span class="checkmark"></span>
                                        Credit card
                                    </label>
                                </div>
                                <!-- /Credit Card Payment -->
                                
                                <!-- Paypal Payment -->
                                <div class="payment-list">
                                    <label class="payment-radio paypal-option">
                                        <input type="radio" name="payment_method" value="Paypal" required>
                                        <span class="checkmark"></span>
                                        Paypal
                                    </label>
                                </div>
                                <!-- /Paypal Payment -->
                                
                                <!-- Debit Payment -->
                                <div class="payment-list">
                                    <label class="payment-radio debit-card-option">
                                        <input type="radio" name="payment_method" value="Debit" required>
                                        <span class="checkmark"></span>
                                        Debit Card
                                    </label>
                                </div>
                                <!-- /Debit Payment -->

                                <!-- Submit Section -->
                                <div class="submit-section mt-4">
                                    <button type="submit" class="btn btn-primary submit-btn">Confirm and Pay</button>
                                </div>
                                <!-- /Submit Section -->
                                
                            </div>
                        </form>
                        <!-- /Checkout Form -->
                        
                    </div>
                </div>
                
            </div>
            
            <div class="col-md-5 col-lg-4 theiaStickySidebar">
            
                <!-- Booking Summary -->
                <div class="card booking-card">
                    <div class="card-header">
                        <h4 class="card-title">Booking Summary</h4>
                    </div>
                    <div class="card-body">
                        {% if single_doctor %}
                            <!-- Booking Doctor Info -->
                            <div class="booking-doc-info">
                                <a href="doctor-profile.html" class="booking-doc-img">
                                    <img src="{{single_doctor.user.profile_picture.url}}" alt="User Image">
                                </a>
                                <div class="booking-info">
                                    <h4><a href="doctor-profile.html">Dr. {{single_doctor.user.get_full_name}}</a></h4>
                                    <div class="rating">
                                        <i class="fas fa-star {% if single_doctor.averageReview >= 1.0 %} filled {% endif %}"></i>
                                        <i class="fas fa-star {% if single_doctor.averageReview >= 2.0 %} filled {% endif %}"></i>
                                        <i class="fas fa-star {% if single_doctor.averageReview >= 3.0 %} filled {% endif %}"></i>
                                        <i class="fas fa-star {% if single_doctor.averageReview >= 4.0 %} filled {% endif %}"></i>
                                        <i class="fas fa-star {% if single_doctor.averageReview >= 5.0 %} filled {% endif %}"></i>
                                        <span class="d-inline-block average-rating">({{single_doctor.countReview}})</span>
                                    </div>
                                    <div class="clinic-details">
                                        <p class="doc-location"><i class="fas fa-map-marker-alt"></i>{{clinic.get_clinic_address}}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Booking Doctor Info -->
                        {% else %}
                        <!-- Booking Info -->
                        <div class="booking-doc-info mb-4">
                            <a href="{{specialization.get_url}}" class="booking-doc-img">
                                <img src="{{specialization.image.url}}" alt="User Image">
                            </a>
                            <div class="booking-info">
                                <h4>Booking Consultation</h4>
                                <div class="clinic-details">
                                    <p class="doc-location">{{specialization}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Booking Info -->
                        {% endif %}
                        <div class="booking-summary">
                            <div class="booking-item-wrap">
                                <ul class="booking-date">
                                    <li>Selected Date <span>{{selected_date}}</span></li>
                                    <li>Selected Time <span>{{selected_timeslot}}</span></li>
                                </ul>
                                <ul class="booking-fee">
                                    <li>Consulting Fee <span>₹{{fee}}</span></li>
                                    <li>Booking Fee <span>₹{{tax}}</span></li>
                                </ul>
                                <div class="booking-total">
                                    <ul class="booking-total-list">
                                        <li>
                                            <span>Total</span>
                                            <span class="total-cost">₹{{total}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Booking Summary -->
                
            </div>
        </div>

    </div>

</div>		
<!-- /Page Content -->

{% include 'includes/footer.html' %}
{% endblock %}